<%- include('partials/header') %>

<div class="text-center py-5">
  <h2 class="fw-bold">Página não encontrada</h2>
  <p class="text-muted">O conteúdo que você procura não existe.</p>
  <a href="/" class="btn btn-primary">Voltar para Home</a>
</div>

<%- include('partials/footer') %>
