<%- include('partials/header') %>

<div class="text-center py-5">
  <h2 class="fw-bold">Ops! Algo deu errado.</h2>
  <p class="text-muted"><%= message %></p>
  <a href="/" class="btn btn-primary">Voltar para Home</a>
</div>

<%- include('partials/footer') %>
